* {
   box-sizing: border-box;
}
body {
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
	color: #838C95;
}

header {
    position: relative;
    height: 600px;
    min-height: 500px;
    background: #161415;
    background-size: cover;
    overflow: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}

nav {
    background-color: #333;
    font: 12px 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

 ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

ul#nav li a {
       display: inline-block;
       padding: 8px 13px;
       line-height: 32px;
        text-decoration: none;
       text-align: left;
       color: #fff;
        transition: color .2s ease-in-out;
    }
ul#nav li a:active { color: #F06000; }

.row {
    width: auto;
}

.row {
    width: 96%;
    max-width: 1024px;
    margin: 0 auto;
 }

 .column, .columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
 }
 .column.centered, .columns.centered  {
     float: none;
     margin: 0 auto;
 }

.row .three       { width: 25%; }
.row .nine        { width: 75%; }

#about {
    background: #2B2B2B;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}
 
 #about a, #about a:visited  { color: #fff; }
 #about a:hover, #about a:focus { color: #11ABB0; }
 
 #about h2 {
    font: 22px/30px 'Arial', sans-serif;
    color: #fff;
    margin-bottom: 12px;
 }
 #about p {
    line-height: 30px;
    color: #7A7A7A;
 }
 #about .profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 #about .contact-details { width: 40%; }
 #about .download {
    width: 58.33333%;
    padding-top: 6px;
 }
 .main-col { padding-right: 5%; };



 
 section {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
 }
 
 section a, section a:visited  { color: #11ABB0; }
 section a:hover, section a:focus { color: #313131; }
 
 section h1 {
    font: 18px/24px 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 section h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
 }
 section h3 {
    font: 25px/30px 'Arial', sans-serif;
 }
 
 section .header-col { padding-top: 9px; }
 section .main-col { padding-right: 10%; }
 
 .education, .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
 }
 section .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
 }
 section .info span {
    margin-right: 5px;
    margin-left: 5px;
 }
 section .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
 }
